<ion-view hide-nav-bar="true">
<a class="button icon-left ion-chevron-left button-clear button-dark" ng-click="back()">Back</a>
  <div id ="titleImage" style = "text-align: center; margin:auto; margin-bottom: 30px;">
  <img style = "width:100%" src='img/question_mark.png'></img>
    </div>

      <div class="list list-inset">
          <label class="item item-input">
              <input type="password" placeholder="Current Password" ng-model="formData.oldpassword">
          </label>
          <label class="item item-input">
              <input type="password" placeholder="New Password" ng-model="formData.newpassword">
          </label>
      </div>
          <button class="button button-block button-calm" ng-click="ChangePassword()">Change</button>
      </div>


  </label>
</ion-view>