<ion-view ng-controller="EmailController" title="<img class='title-image' src='img/question_mark.png' />" left-buttons="leftButtons" right-buttons="rightButtons" hide-back-button="true" class="bubble-background" hide-nav-bar="true">
  <ion-content>

  <div style = "padding-top: 25%; margin:auto">
	<div id = "login-title-holder"><h id = "login-title">Enter Your Email and Select Your Gender</h></div>

  <label id = "rounded" class="item item-input">
    <input id= "name-input" type="text" ng-model="formData.email">
    </label>
    </div>
    <div class="button-bar">
 <a class="{{male}} left" ng-click="maleFunction()">Male</a>

 <a class="{{female}} right" ng-click="femaleFunction()">Female</a>
</div>
    <div id = "rounded" ng-click="submitEmail()"><p id = "submitBtn">Submit</o></div>
  </label>
  </ion-content>
  </div>
</ion-view>
