<ion-view ng-controller="HomeController" hide-nav-bar="true">

<div style = " position: absolute;
	top: 25%;
    left: 0%;
    width: 100%; ">
  <div id ="titleImage" style = "text-align: center; margin:auto">

  <img style = "float:center; width:70%;" src='img/question_mark.png'></img>
</div>
	
	<div id = "login-title-holder" style = "margin:auto; padding-top: 50px;">
	<h id = "login-title" style = 'font-size: 30px;font-family: "Open Sans"; font-weight:normal;' >Welcome to <b>Rice Digital Gym</b></h>


	</div>
	<div id = "login-title-holder" style = "margin-top:0px; padding-top: 20px">
	<h id = "login-title" style = 'padding-top: 0px!important; margin-top: 0px; font-size: 20px;font-weight: normal; font-family: "Open Sans"''>Scan your RFID to get started</h>
	
	</div>

	</div>
</div>
  </label>
</ion-view>
