

<ion-view hide-nav-bar="true">
<a class="button icon-left ion-chevron-left button-clear button-dark" ng-click="back()">Back</a>
  <div id ="titleImage" style = "text-align: center; margin:auto; margin-bottom: 30px;">
      
  <img style = "width:80%" src='img/question_mark.png'></img>
    </div>

      <div class="list list-inset">
          <label class="item item-input">
              <input type="text" placeholder="Email" ng-model="formData.email">
          </label>
          <label class="item item-input">
              <input type="password" placeholder="Password" ng-model="formData.password">
          </label>
      </div>
          <button class="button button-block button-calm" ng-click="submitLogin()">Login</button>
          <button class="button button-block button-calm" ng-click="forgotPassword()">Forgot Password</button>

      </div>


  </label>
</ion-view>
