<ion-view hide-nav-bar="true">
<a class="button icon-left ion-chevron-left button-clear button-dark" ng-click="back()">Back</a>

<div id="gridcontent">
    <div class = "row">
       <div class = "col col-33"><img class = "profile-image" src ="img/default.png" ng-click="changepicture('img/default.png')"/img> </div>
       <div class = "col col-33"><img class = "profile-image" src ="img/YellowDaisy.png" ng-click="changepicture('img/YellowDaisy.png')"/img> </div>
       <div class = "col col-33"><img class = "profile-image" src ="img/Tennis.png"ng-click="changepicture('img/Tennis.png')"/img> </div>
    </div>
    <div class = "row">
       <div class = "col col-33"><img class = "profile-image" src ="img/Snowflake.png"ng-click="changepicture('img/Snowflake.png')"/img> </div>
       <div class = "col col-33"><img class = "profile-image" src ="img/Sandollar.png"ng-click="changepicture('img/Sandollar.png')"/img> </div>
       <div class = "col col-33"><img class = "profile-image" src ="img/Owl.png"ng-click="changepicture('img/Owl.png')"/img> </div>
    </div>
    <div class = "row">
       <div class = "col col-33"><img class = "profile-image" src ="img/Football.png"ng-click="changepicture('img/Football.png')"/img> </div>
       <div class = "col col-33"><img class = "profile-image" src ="img/Earth.png"ng-click="changepicture('img/Earth.png')"/img> </div>
       <div class = "col col-33"><img class = "profile-image" src ="img/Basketball.png"ng-click="changepicture('img/Basketball.png')"/img> </div>
    </div>
</div>
    
</ion-view>

