<ion-view left-buttons="leftButtons" right-buttons="rightButtons" hide-back-button="true" class="bubble-background" >
<ion-view hide-nav-bar="true"> 
  <ion-content style = "height: 100%">

    <ion-list>
<!--       <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="datum in data" type="item-text-wrap" href="#/tab/data/{{datum.id}}">
{{datum}}
      </ion-item> -->

<div style = "background-color:#fff; margin-top: 0px;">
<canvas height = "200" id="line" class="chart chart-line" chart-data="data" chart-labels="labels" chart-series = "series" chart-options="options" chart-dataset-override="datasetOverride" chart-click="onClick"> </canvas> </div>

<!-- <div class = "rmp-title" style = "height: 30px; margin: auto; margin-top: 20px;  text-align: center; color: #FFF; font-weight: 100">{{name}}</div> -->
<div style= "background-color: #fff!important; width: 100%; height: 500px; ">

<div style = "float:left; width: 30%; padding-top: 20px; margin-left: 10px">
  <ion-radial-progress style ="margin: auto;">
  
  </ion-radial-progress>
</div>

<div style = "float: left; padding-left: 30px; padding-top: 40px; width: 60%; text-align: center ">
<div >
<div style = "font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif !default; font-size: 25px; font-weight: bold; color:#3288C9;text-align: center">YOUR WORKOUT DURATION</div>
<div style = "font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif !default; font-size: 50px; font-weight: bold; color:#3288C9; text-align: center; margin-top: 15px">{{current_duration_formatted}}</div>
<div style = "font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif !default; font-size: 25px; font-weight: bold; color:#AAA;text-align: center; margin-top: 30px">AVERAGE WORKOUT DURATION</div>
<div style = "font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif !default; font-size: 50px; font-weight: bold; color:#AAA; text-align: center; margin-top: 15px">{{avg}}</div>
</div>


   </div>
    </ion-list>



</ion-view>
