<ion-view  left-buttons="leftButtons" right-buttons="rightButtons" hide-back-button="true" class="bubble-background">
  <ion-content>

  	<div style = "position: absolute; top: 150px; left: 10px; width: 150px; height: 150px; z-index: 1000;">
  	<div style = "margin-top: -250px"></div>
  	<img style = "border-style: solid; border-radius: 50%;width: 150px; height: 150px; border-width: 2px; border-color: white" src ="img/default.png"></img> </div>


<div style = "position: absolute; top: 180px; left: 180px; width: 500px; height: 150px; z-index: 1000;">
  	<div style = "margin-top: -250px"></div>
  	<p style = "font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif !default; font-size: 30px; color:white; margin-top:40px">{{name}}</p>
  	<p style = "font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif !default; font-size: 15px; color:#AAA;margin-top: 15px">Last workout: 2/3/17</p>
  	 </div>


  	<div style = "margin-top: 250px; width: 100%; background-color: white; height: 1000px">
  		

  	</div>

<!--   	<div style = "background-color:white;  height: 100px; width: 100%; margin-left: 0px; padding-left: 0px">
  	Testing
  	</div> -->
  </ion-content>
</ion-view>
