
<ion-view hide-nav-bar="true">
<a class="button icon-left ion-chevron-left button-clear button-dark" ng-click="back()">Back</a>
  <div id ="titleImage" style = "text-align: center; margin:auto; margin-bottom: 30px;">
  <img style = "width:100%" src='img/question_mark.png'></img>
    </div>

      <div class="list list-inset">
          <label class="item item-input"><br>
              <input type="text" placeholder="Tag Name" ng-model="formData.tagName">
          </label>
          <label class="item item-input">
              <input type="text" placeholder="Machine ID" ng-model="formData.machineID">
          </label>
      </div>
          <button class="button button-block button-calm" ng-click="checkTag()">Register Tag</button>
          <div ng-show="showLoading">
            <span us-spinner="{radius:30, width:8, length: 16}"></span>
          </div>
      </div>
</ion-view>
