/* Empty. Add your own CSS if you like */
ion-view{
    background-image: linear-gradient(#348AC7, #7474BF);
    background-image: -webkit-linear-gradient(to bottom right, #348AC7 , #7474BF); /* Chrome 10-25, Safari 5.1-6 */
    background-image: linear-gradient(to bottom right ,#348AC7 , #7474BF);
}
.bar-stable2{
	background:none;
}
.title-image{
	padding: 10px;
}

div#roundedPassword{
	text-align:center;
	margin-top: 10px;
	margin-left:auto;
	margin-right:auto;
	border-width: 0px;
	border-radius: 9px;
	width: 100%;
	height: 25px;
	line-height: 25px;
	background-color: rgba(255,255,255,1);
}

div#roundedTag{
	text-align:center;
	margin-top: 10px;
	margin-left:auto;
	margin-right:auto;
	border-width: 0px;
	border-radius: 9px;
	width: 100%;
	height: 25px;
	line-height: 25px;
	background-color: rgba(255,255,255,1);
}

.bar-header {
    border: 0px !important;
    border-bottom-color: transparent !important;
    background-image: none !important;
    border-bottom: none !important;
}
#login-title-holder{
	margin-left: auto;
	margin-right: auto;

	
	text-align:center;
	width: 60%;
}
#login-title{
	font-size: 20px;
	font-family: "Helvetica-light";
	color: #fff;
}
label#rounded{

	border: none;
	border-bottom: thin solid #fff;
	background-color: #000;
	width: 60%;
	height: 50px;
	margin-left:auto;
	margin-right:auto;
	background-color: rgba(255,255,255,0);

}
div#rounded{
	text-align:center;
	margin-top: 10px;
	margin-left:auto;
	margin-right:auto;
	border-width: 0px;
	border-radius: 9px;
	width: 60%;
	height: 50px;
	line-height: 50px;
	background-color: rgba(255,255,255,1);

}
#titleImage{
	padding-top: 100px;
	width:75%; 
	margin-left:auto;
	margin-right: auto;
}
#name-input{

	color: #fff;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}
#submitBtn{
	font-size: 15px;
	font-weight: bold;
	color: #5280C3;

}
.left{
		border-top-left-radius: 9px;
	border-bottom-left-radius: 9px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}
.right{
		border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	border-top-right-radius: 9px;
	border-bottom-right-radius: 9px;
}
.button1{
	text-align: center;
	line-height: 40px;
	height: 40px;
	width:50%;
	background-color: transparent;
	border-width: 6px;
	border-color: #fff;
	color: #fff;
}
.button2{
	line-height: 40px;
	text-align: center;
	background-color: #fff;
	width:50%;
	color: #5280C3;

}
.button-bar{
	padding-top: 20px;
	padding-bottom: 40px;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
}
.email{
	border: none;
    border-bottom: thin solid #fff;
	background-color: transparent;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}
.white{
	color: #fff;
}
.rpm{
	padding: 50px;
	width: 100%;
	text-align: center;
}
.rmp-title{
	font-family: "Helvetica";
	font-size: 40px;
	color: #fff;
}
.emaillist{

	padding-top:50px;
}



.name{
  font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif !default;
  font-size: 30px;
  color:white; 
  margin-top:40px;
}
.lastworkout{
  font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif !default;
  font-size: 15px;
  color:#AAA;
  margin-top: 15px;
}
.profile-image{
  border-style: solid; 
  border-radius: 50%;
  width: 150px; 
  height: 150px; 
  border-width: 2px; 
  border-color: white
}
.profile-image-container{
  position: absolute;
  top: 150px;
  left: 10px;
  width: 150px;
  height: 150px;
  z-index: 1000;
}
.profile-text-container{
  position: absolute; 
  top: 180px; 
  left: 180px;
  width: 500px;
  height: 150px; 
  z-index: 1000;
}
.workout-history-container{
  margin-top: 250px;
  width: 100%; 
  background-color: white; 
  height: 10000px;
}
.absolute-margin{
  margin: -250px
}
